* {margin: 0; padding: 0; box-sizing: border-box;
    font-family: Raleway;}
html, body {width: 100%;height: 100%;}
#foto1 img {
    border-radius: 50%;
    background-size: cover;
    border: 10px solid #1d5a77;   
}
#foto1 img:hover{
    border: 10px solid #1d5b778e;   
}
#foto1, #logos {
    text-align: center;
}
#fundo {display: flex;}
#lateral-esq {
    width: 25%;
    height: 100vh;
    padding-top: 1%;
    background-color: #0e2d3b;
}
#logos img {
    margin: 0 5px;
    padding: 5px;
    transition: all 800ms ease-in-out;
}
#logos img:hover {
    box-shadow: white;
    transform: rotate(370deg);
}
#centro {
    width: 75%;
    height: 100vh;
    background-image: url(../background.jpg);
    background-size: cover;
}
.nav a {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    margin-left: 15px;
    color: goldenrod;
}
.nav {
    box-sizing: border-box;
    padding: 5px 40px 5px 15px;
    align-items: center;
    font-size: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.nav:hover {
    border: 2px solid rgba(218, 165, 32, 0.384);
    border-radius: 20px;
    font-size: 30px;
    font-style: italic;
    background-color: rgba(50, 41, 61, 0.411);
}
#nav-bar{
    display: inline-block;
    justify-content: center;
    margin-left: 25px;
    margin-top: 70px;

}
ul {
    list-style: none;
}
#footer {
    margin-top: 80px;
    margin-left: 20%;
}
#footer p{
    font-size: 20px;
    color: white;
}
p span {
    margin-bottom: 10px;
}
#footer p a{
    text-decoration: none;
    color: aqua;
    font-style: italic;
}
#texto1 {
    width: 400px;
    margin-top:30%;
    transform: translateY(-50%);
    margin-left: 20%;
    transform: translateX(-50%);
    vertical-align: middle;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 20px;
    transition: all 800ms ease-in-out;
}
#texto1:hover {
    font-style: italic;
    margin-left: 23%;
    background-color: rgba(50, 41, 61, 0.411) ;
}
#texto1 h1 {
    font-size: 50px;
    color: rgb(207, 176, 1);
}
#texto1 h3 {
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
    color: rgba(218, 165, 32, 0.74);
}